[mariadb]
name = MariaDB
baseurl = http://yum.mariadb.org/{{ mariadb['version'] }}/{{ gathered_distribution }}{{ ansible_distribution_major_version }}-{{ gathered_arch }}
gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
gpgcheck=1